<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="logout()" slot="end">Salir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="wallet-container text-center" style="background: none transparent;">

		<div style='margin-top:30%; margin-left:5%' class="amount-box text-center">
			<img src="../../assets/wallet.png" alt="wallet">
			<p>Balance Total</p>
			<p class="amount">$ {{this.usuario.monto}}</p>
		</div>

      <ion-button expand="full" (click)="scan()" style="margin-top:10%" [hidden]="scanActive">SCAN</ion-button>

			<div class="txn-history">
				<p><b>Qr escaneados</b></p>
        <p *ngFor="let qr of this.usuario.qrEscaneados" class="txn-list">{{qr}}</p>
			</div>

</ion-content>